.auth-container {
    position: relative;
    background: url(./assets//backgroundLogin.jpg) no-repeat center center/cover;
    height: 100vh;
}
.auth-header {
   background-color: rgba(0, 0, 0, 0.5);
   height: 100%;
}
.auth-tittle {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.auth-tittle {
    width: 50%;
}
.auth-tittle h1,
.auth-tittle h4,
.auth-tittle p {
	color: white;
}
.right-navbar {
    margin-left: auto;
    
}
.text-card-right {
    position: relative;
    display: inline-block;
    bottom: 0.5rem;
   
}
.recipe-button{
    margin-right: 0.5rem;
    
}
.plus-icon{
    position:fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    cursor: pointer;
    color: dodgerblue
}
.alert-message {
    position:fixed;
    right: 1rem;
    z-index: 999;
    text-transform: capitalize;
}
